header{
    width: 100%;
    height: 0.88rem;
    /*background: yellow;*/
    padding: 0 0.22rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    color: #4ebbfe;
    line-height: 0.88rem;
    box-shadow: 0 0.03rem 0.43rem 0 rgba(41, 167, 255, 0.13);
}
.iconfont{
    color: #4ebbfe;
}

body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,input,textarea,select,option{
    margin: 0;
    padding:0;
    /*设置列表样式*/
    list-style:none;
}
*{
    /*按钮，a标签，将高亮的颜色变成透明*/
    -webkit-tap-highlight-color: transparent;
    /*消除按钮的圆角*/
    -webkit-appearance: none;
    /*禁止用户修改字体*/
    -webkit-text-size-adjust:100% ;
}
a{
    color: #fff;
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
    display: block;
}
p{
    color: #4ebbfe;
}
html {
    font-size: 100px; }

body {
    font-size: 16px; }

@media screen and (min-width: 320px) {
    html {
        font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
    html {
        font-size: 48px; } }

@media screen and (min-width: 375px) {
    html {
        font-size: 50px; } }

@media screen and (min-width: 412px) {
    html {
        font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
    html {
        font-size: 55.2px; } }



/*老师——底部*/
footer{
    width: 100%;
    height:0.98rem ;
    background: #f1f9ff;
    padding: 0 0.22rem;
    position: fixed;
    left: 0;
    bottom: 0;
    /*有padding扩大宽度100%*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*缩回100%的宽度*/
    display: flex;
    justify-content: space-between;
}
footer > a{
    width: 0.7rem;
    height: 100%;
    /*background: #046B80;*/
    font-size: 0.24rem;
    color: #04bbfe;
    /*图片和文字居中（前提：图片不是block的形式）*/
    text-align: center;
    padding-top: 0.1rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*调节亮度 （透明度）*/
    opacity: 0.5;
}
footer >a.hot{
    opacity: 1;
}
footer > a >img{
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
}
/*底部end*/