.con{
    padding: 0 0.22rem;
}
.content{
    padding:0.44rem 1.78rem ;
    /*background: blue;*/
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center ;
    border-bottom: 0.02rem solid rgba(0,0,0,0.1);
    margin-bottom: 0.78rem;
}
/*230 210*/
.content p{
    font-size: 0.26rem;
    line-height: 0.35rem;
    color: #000000;
    opacity: 0.7;
    margin-bottom: 0.52rem;
    margin-top: 0.52rem;
    position: relative;
}
.content p::before{
    content: '';
    width: 0.1rem;
    height: 0.05rem;
    background-color: #3ab1ff;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(58, 177, 255, 0.43);
    border-radius: 0.03rem;
    position: absolute;
    top: 0.2rem;
    left: -0.2rem;
}
.content p::after{
    content: '';
    width: 0.1rem;
    height: 0.05rem;
    background-color: #3ab1ff;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(58, 177, 255, 0.43);
    border-radius: 0.03rem;
    position: absolute;
    top: 0.2rem;
    right: -0.2rem;
}
.con p{
    font-size: 0.26rem;
    font-weight: normal;
    font-stretch: normal;
    color: #000000;
    opacity: 0.5;
}


