header{
    width: 100%;
    height: 0.88rem;
    /*background: yellow;*/
    padding: 0 0.22rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    color: #4ebbfe;
    line-height: 0.88rem;
    box-shadow: 0 0.03rem 0.43rem 0 rgba(41, 167, 255, 0.13);
}
.iconfont{
    color: #4ebbfe;
}


.a{
    padding: 0.36rem 0.22rem 0.26rem 0.22rem;
    font-size: 0.26rem;
    color: #000000;
    opacity: 0.4;
}

.list{
    padding: 0 0.22rem;
    background-color: #ffffff;
    box-shadow: 0 0.01rem 0.21rem 0 rgba(223, 223, 223, 0.43);
    border-radius: 0.1rem;
}
.list li{
    height: 0.85rem;
    /*width: 670px;*/
    border-bottom: 0.02rem solid rgba(0,0,0,0.02);
    font-size: 0.24rem;
    color: #8a8c8d;
    display: flex;
    justify-content:space-around;
}


.photo{
    margin: 0.24rem 0 0.53rem 0.22rem;
    width: 1.01rem;
    height: 1.01rem;
    background-image: linear-gradient(90deg, #37e06f 0%, #31d69a 100%),
    linear-gradient(#36a8fe, #36a8fe);
    box-shadow: 0 0.04rem 0.2rem 0 rgba(55, 223, 116, 0.75);
    border-radius: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo > img{
    width: 0.49rem;
    height: 0.42rem;
    background-color: #ffffff;
    border-radius: 0.04rem;
    border: solid 0.04rem #fbfeff;

}

.p{
    width: 7.01rem;
    height: 1.27rem;
    background-color: #e7f6ff;
    border-radius: 0.08rem;
    opacity: 0.5;
    margin-left: 0.22rem;
}

.pingjia{
    padding-bottom: 0.1rem ;
    /*color: #41b2fc;*/
    margin:0.4rem 0.24rem;
    height: auto;
}
.pingjia .an{
    padding-left: 0.2rem;
    height: 0.24rem;
}
.pingjia .an .left{
    font-size:0.24rem ;
    line-height: 0.4rem;
    color: #8a8c8d;
    float: left;
    display: inline-block;
    padding-left: 0.2rem;
    position: relative;
}
.pingjia .left::before{
    content: '';
    width: 0.1rem;
    height: 0.05rem;
    background-color: #44b5ff;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(68, 181, 255, 0.43);
    border-radius: 3px;
    position: absolute;
    top: 0.18rem;
    left: 0;
}
.pingjia  .an .right{
    font-size:0.22rem ;
    color: #8a8c8d;
    float: right;
    text-align: center;
    line-height: 0.43rem;
}
.pingjia .right .am{
    display: inline-block;
    /*line-height: 0.2rem;*/
    /*text-align: center;*/
}
.pingjia > .an > .right .iconfont{
    width: 0.11rem;
    height: 0.18rem;
    font-size: 0.22rem;
    float: right;
    color: #8a8c8d;
}








.bottom{
    width: 100%;
    height: 0.6rem;
    background-color: #f1faff;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.24rem 0.24rem;
    overflow: hidden;
    display: flex;
    /*justify-content: space-around;*/
    align-items: center;
}
.bottom > .b_left{
    float: left;
    margin-right: 1.04rem;
}
.bottom > .b_left > .a{
    font-size: 0.24rem;
    color: #3bacfe;
    opacity: 0.6;
    padding-left: 0.2rem;
    position: relative;
}
.bottom > .b_left > .a::before{
    content: '';
    width: 0.05rem;
    height: 0.05rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #44b5ff;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(68, 181, 255, 0.43);
    position: absolute;
    top: 0.6rem;
    left: 0;
}
.bottom > .b_left > .a > span{
    font-size: 0.36rem;
    color: #36a8fe;
}
.bottom > .b_right{
    float: left;
    width: 3.8rem;
    height: 0.60rem;
    background-image: linear-gradient(90deg, #37e06f 0%, #31d69a 100%), linear-gradient(#3bacfe, #3bacfe);
    /*padding-right: 0.54rem;*/
    box-shadow: 0 0.04rem 0.2rem 0 rgba(55, 223, 116, 0.75);
    border-radius: 0.3rem;
    text-align: center;
    line-height: 0.6rem;
}
.bottom > .b_right > a{
    color: #000;
}